* {
  font-family: "Poppins", sans-serif;
}

#about,
#product,
#contact {
  padding-top: 5rem;
}

.bg-home {
  background-color: #043629 !important;
}

.button-contactus {
  background-color: #ffac12;
  width: 180px;
  height: 34px;
  left: 858px;
  border: none;
  font-size: 14px;
  border-radius: 0 15px 0 0;
}

.bi {
  color: white;
}

.hero {
  background: url(../assets/BG.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.judul {
  color: white;
}

.penjelasan-judul {
  color: white;
  font-size: 16px;
}

a {
  color: white;
}

.judul-2 {
  font-size: 45px;
  font-weight: bolder;
}

.sub-title-2 {
  font-size: 16px;
  line-height: 25px;
}

.button-contactus-2 {
  background-color: #00362a;
  width: 211px;
  height: 40px;
  left: 858px;
  border: none;
  font-size: 18px;
  border-radius: 0 15px 0 0;
  color: white;
}

.img1 {
  width: 100%;
}

.img2 {
  width: 100%;
}

.roundedcard {
  border-radius: 25px;
}

.roundedcard:hover {
  box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
}

.content-2 {
  background-color: #f5f5f5;
  margin-top: 2%;
}

.hrc2 {
  width: 20%;
  border: solid 1px #00362a;
}

.conten-4 {
  background: linear-gradient(225.52deg, #00362a 0.45%, rgba(0, 0, 0, 0.982162) 100.47%);
}

h5 {
  color: white;
  font-size: 10px;
  font-weight: 300;
}

h1.information {
  color: white;
}

.founder {
  font-weight: 500;
  margin-top: 0.5rem;
}

.founder-sub {
  font-weight: 300;
  font-style: italic;
  margin-top: -0.375rem;
}

.act {
  color: #ffac12;
}

.footer {
  background: linear-gradient(189.91deg, #00362a -19.64%, rgba(0, 0, 0, 0.982162) 71.42%);
}

.footer-h {
  color: white;
  font-weight: 400;
  font-size: 20px;
}

.footer-p {
  color: white;
  font-size: 0.75rem;
  font-weight: 200;
}

.footer h1 {
  color: white;
}

/* cinamon */

.bg-cinamon-body {
  background-color: #f5f5f5;
}

.bg-cinamon {
  background: linear-gradient(189.91deg, #00362a -19.64%, rgba(0, 0, 0, 0.982162) 71.42%);
  z-index: 20;
}

.cinamon {
  color: #00362a;
}

.desc-p {
  font-size: 0.75rem;
}

.title-card {
  color: #161616;
  font-weight: bold;
  font-size: 1.1875rem !important;
}

@media only screen and (min-width: 992px) {
  .img-product {
    width: 21.875rem;
  }
}

@media only screen and (max-width: 600px) {
  .img-product {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: #161616;
}

a:hover {
  text-decoration: none;
  color: #ffac12;
}

.btn-floating {
  position: fixed;
  right: 25px;
  bottom: 25px;
  overflow: hidden;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 80px;
  border: 0;
  z-index: 99;
  background-color: white;
  transition: 0.2s;
  padding-bottom: 0.25rem;
}

.btn-floating:hover {
  cursor: pointer;
}

.btn-floating span {
  font-size: 16px;
  margin-left: 5px;
  transition: 0.2s;
  line-height: 0px;
  display: none;
}

.btn-floating:hover span {
  display: inline-block;
}

.btn-floating:hover img {
  margin-bottom: -3px;
}

.btn-floating img {
  width: 30px;
}
